/*
*/
@import url(http://fonts.googleapis.com/css?family=Inconsolata);

body {
  padding: 0;
  margin: 0;
  font-family: 'Inconsolata', 'Inconsolata-dz', fixed;
  font-weight: 400;
}

div.usbbare-p-list {
  padding-top: 1.5em;
}

div.usbbare-p-list>div>span:first-child {
  display: inline-block;
  width: 4em;
  text-align: right;
  padding-right: 0.5em;
  border-right: 1px solid #ddd;
}

div.usbbare-p-list>div>span:nth-child(2) {
  display: inline-block;
  width: 6em;
  text-align: right;
  padding-right: 0.5em;
  border-right: 1px solid #ddd;
}

div.usbbare-p-list>div>span:nth-child(3) {
  display: inline-block;
  width: 2em;
  padding-left: 2em;
  text-align: right;
  padding-right: 4px;
  border-right: 1px solid #ddd;
}

div.usbbare-p-list>div>span:nth-child(4) {
  display: inline-block;
  width: 2em;
  padding-left: 2em;
  text-align: right;
  padding-right: 4px;
  border-right: 1px solid #ddd;
}

div.usbbare-p-list>div>span:nth-child(5) {
  display: inline-block;
  width: 20em;
  padding-left: 1em;
}

div.usbbare-p-list>div.selected span:nth-child(4) {
  color: #00c;
}

div.usbbare-tr-list span {
  padding-top: 1.5em;
  display: inline-block;
  padding-right: 0.5em;
  border-right: 1px solid #ddd;
}

div.usbbare-tr-list>div>span:first-child {
  width: 4em;
  text-align: right;
}

div.usbbare-tr-list>div>span:nth-child(2) {
  width: 6em;
  text-align: right;
}

div.usbbare-tr-list>div>span:nth-child(3) {
  width: 2em;
  padding-left: 2em;
  text-align: right;
  padding-right: 4px;
}

div.usbbare-tr-list>div>span:nth-child(4) {
  display: inline-block;
  width: 20em;
  padding-left: 1em;
}

div.usbbare-p {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 8em;
  margin-left: 7px;
}

span.usbbare-bitfield:hover {
  text-decoration: underline;
}

div.usbbare-tp {
  border: 1px solid #ddd;
  padding: 0.5em;

  position: fixed;
  left: 42em;
  height: 40em;
  width: 35em;
  overflow: scroll;
}

div.usbbare-tp table {
  border-collapse: collapse;
  margin-bottom: 1em;
}

div.usbbare-tp td {
  padding: 0;
  padding-right: 0.3em;
  padding-left: 1em;
  xborder: 1px solid #ddd
}

div.usbbare-tp td:first-child {
  padding: 0;
  padding-right: 1em;
}

div.usbbare-nav {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ddd;
  height: 1.3em;
  padding-left: 2em;
}
