@import url(http://fonts.googleapis.com/css?family=Inconsolata);

div.usbbare-pd {
  font-family: 'Inconsolata', fixed;
}

div.usbbare-pd div span:first-child {
  display: inline-block;
  width: 2em;
  text-align: right;
  padding-right: 4px;
  border-right: 1px solid #ddd;
}

div.usbbare-pd div span:nth-child(2) {
  display: inline-block;
  width: 5em;
  text-align: right;
  padding-right: 4px;
  border-right: 1px solid #ddd;
}

div.usbbare-pd div span:nth-child(3) {
  display: inline-block;
  width: 2em;
  padding-left: 10px;
  text-align: right;
  padding-right: 4px;
  border-right: 1px solid #ddd;
}

div.usbbare-pd div span:nth-child(4) {
  display: inline-block;
  width: 20em;
  padding-left: 10px;
}
